{
  "singleQuote": true,
  "endOfLine": "auto",
  "semi": true,
  "tabWidth": 2,
  "plugins": ["@prettier/plugin-pug"],
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "parser": "pug",
        "printWidth": 80,
        "singleQuote": true,
        "tabWidth": 2
      }
    }
  ]
}
